:root {
  --black: #000;
  --white: #fff;
  --red: #ff0000;

  --primary-background-color: #fff;
  --secondary-background-color: #f8f8f8;
  --light-background-color: #e9e9e9;
  --dark-background-color: #000;

  --primary-background-border-color: #000;
  --light-background-border-color: #e9e9e9;
  --dark-background-border-color: #fff;

  --primary-text-color: #000;
  --secondary-text-color: #1C93D6;

  --link-text-color: #54AADB;
  --link-hover-text-color: #54AADB;
}
